:root{
    --font: 'Epilogue', sans-serif;
    --font-500: 500;
    --font-700: 700;
    --font-p: 18px;

    --clr-neutral: hsl(0, 0%, 98%);
    --clr-md-gray: hsl(0, 0%, 41%);
    --clr-black: hsl(0, 0%, 8%);

    --breakpoint-sm: 375px;
    --breakpoint-md: 600px;
    --breakpoint-lg: 1440px;
    
    --t-nav: .2s ease;
}


/*----------------------------------------------
------------------------------------------------
1. Universal Styles
------------------------------------------------
----------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    background-color: var(--clr-neutral);
}

.wrapper{
    max-width: var(--breakpoint-lg);
    margin: 0 auto;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}



/*----------------------------------------------
------------------------------------------------
2. Nav Styles
------------------------------------------------
----------------------------------------------*/

nav{
    display: flex;
 }

nav .nav-links{
    list-style: none;
}

nav a {
    color: var(--clr-md-gray);
    transition: var(--t-nav);
}

nav a:hover{
    color: var(--clr-black);
}

.logo{
   padding: 1.4rem;
}


.nav-content, .nav-links{
    display: flex;
}

.nav-content .sub-menu.collapsible .sub-menu-items{
    display: none;
}

.nav-content .sub-menu.active.collapsible .sub-menu-items{
    display: block;
    transition: all 0.35s ease;
}

.sub-menu-items li img{
    padding: 0px 10px 0px 0px;
}

.sub-menu-items li{
    list-style-type: none;
    color: var(--clr-md-gray);
 
    cursor: pointer;
    font-size: 16px;
}



/* mobile menu icon ---------------- */
.mobile-menu-icon{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 1.4rem;
    top: 1.4rem;
    z-index: 999;
}

.bar{
    display: block;
    width: 28px;
    height: 2px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--clr-black);
    border-radius:60px;
}

.mobile-menu-icon .bar:nth-child(2){
    margin: 5px 0;
}
 

/* nav styles on screens larger than  37.5em */
@media (min-width: 37.5em){
    .nav-content{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        padding: 1.4rem;
    }

    nav a {
        margin: 0 10px;
    }

    .nav-user a:last-child{
        margin: 0 0px;
    }

    .sub-menu-items{
        margin-top: 20px;
        z-index: 10;
        position: absolute;
        box-shadow: 0px 6px 24px 0px rgba(22, 22, 22, 0.2);
        -webkit-box-shadow: 0px 6px 24px 0px rgba(22, 22, 22,0.2);
        -moz-box-shadow: 0px 6px 24px 0px rgba(22, 22, 22,0.2);
        padding: 18px 30px;
        border-radius: 10px;
        background-color: var(--clr-neutral);
    }

    .sub-menu-items li{
        display: flex;
        align-items: center;
        padding: 10px 0px;
    }
}

/* nav styles on screens smaller than  37.5em */
@media (max-width: 37.5em){
    .nav-links{
        display: block;
    }

    .nav-content{
        position: fixed;
        inset: 0 0 0 35%;
        z-index: 998;
        background-color: var(--clr-neutral);
        flex-direction: column;

        padding: min(30vh, 6rem) 2em;
        margin: 0;
        
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .showMenu{
        transform: translateX(0);
    }

    .change .bar1{
        transform: rotate(45deg) translate(8px,2px);
    }

    .change .bar2{
        opacity: 0;
    }

    .change .bar3{
        transform: rotate(-45deg) translate(8px,-2px);
    }

    .mobile-menu-icon{
        display: block; 
    }

    .nav-content li{
        padding: 10px 0;
    }

    .sub-menu-items{
        padding: 12px 0 12px 14px;
    }

    .sub-menu-items li {
        padding: 8px 0;
    }
  
    .nav-user{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}




/*----------------------------------------------
------------------------------------------------
3. Main Body Styles
------------------------------------------------
----------------------------------------------*/

.hero{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.hero-heading{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}


.hero-heading h1{
    font-weight: var(--font-700);
    font-size: 85px;
}

.hero-intro p{
    color: var(--clr-md-gray);
}

.hero-image-wrap{
    width: 100%;
    display: flex;
    justify-content: right;
}


.hero-heading .clients{
    margin-top: auto;
}

.clients{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media (max-width: 37.5em){
    .hero{
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(1fr, 1fr);
    }
    .hero-heading { 
        grid-area: 2 / 1 / 3 / 2; 
    }

    .hero-image-wrap { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .hero-intro{
        padding: 20px 0 60px;
        text-align: center;
    }

    .hero-intro br {
        display: none;
    }

    .hero-heading h1{
        font-size: 35px;
    }

    .hero-image-wrap img{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hero-intro p:not([class]) {
        padding: 25px 0;
    }

    .clients {
        max-width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .clients img{
       width: 80px;
    }
}

@media (min-width: 37.5em){  
    .hero-heading .hero-intro{
        padding-top: 150px;
    }

    .hero-intro p:not([class]) {
        max-width: 45ch;
        line-height:28px;
        padding: 50px 0;
    }

    .hero-img{
        max-width:80%;
    }
}



/*----------------------------------------------
------------------------------------------------
4. Button Styles
------------------------------------------------
----------------------------------------------*/


.btn{
    border-radius: 12px;
    font-family: var(--font);
    cursor: pointer;

}

.btn-primary{
    color: var(--clr-neutral);
    background-color: var(--clr-black);
    font-weight: var(--font-700);
    max-width: 100%;
    padding: 16px 22px;
    font-size: 18px;
    transition: var(--t-nav);
    border: 1px solid var(--clr-black) ;
}

.btn-secondary{
    width: 300px;
    padding: 10px 20px;
    border: 1px solid var(--clr-md-gray);
}

.btn-primary:hover{
    color: var(--clr-black);
    background-color: var(--clr-neutral);
    border: 1px solid var(--clr-black) ;
}

.btn-secondary:hover{
    color: var(--clr-black);
    border: 1px solid var(--clr-black);
}

@media (max-width: 37.5em){

    .btn-secondary{
       max-width: 100%;
       text-align: center;
    }

    .nav-user{
        padding: 20px 0;
    }
    .nav-user .nav-item{
        padding: 10px 0;
    }
}

/*----------------------------------------------
------------------------------------------------
5. Footer Styles
------------------------------------------------
----------------------------------------------*/
footer{
    text-align: center;
    margin-top: 40px;
    padding: 1.4rem;
    color: var(--clr-md-gray);
}

footer a {
    color: var(--clr-black);
    text-decoration: none;
}


/*----------------------------------------------
------------------------------------------------
6. Generic Styles
------------------------------------------------
----------------------------------------------*/

.overlay.active {
    position: fixed;
    background-color: hsl(0deg, 0%, 8%);
    opacity: 0.6;
    height: 100vh;
    width: 100vw;
}



