h1{
    font-family: var(--ff-sans-cond);
    font-size: var(--fs-500);
}


.ff-serif{
    font-family: var(--ff-serif);
}


p{
    color: var(--clr-light);
}


.heading-big{
    font-size: var(--fs-900);
}